<div id="modal-holder"></div>
<p id="notice"><%= notice %></p>
<%= render 'dashboard/partials/balance' %> <!-- Card to show the balance in real time -->
<%= render 'dashboard/partials/transactions' %> <!-- Card to show all transactions-->
<div class="row">
  <div class="col">
    <%= render 'dashboard/partials/deposits' %> <!-- Card to show all transactions-->
  </div>
  <div class="col">
    <%= render 'dashboard/partials/withdraws' %> <!-- Card to show all transactions-->
  </div>
</div>
