<!-- Card to show all the Withdraws -->


<div class="card card-transactions">
<h3 class="transactions-title">Extrato de Transferências</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <% @withdraws.each do |withdraw| %>
        <tr>
          <td scope="row"><%= withdraw.created_at.strftime("%d/%m/%Y - %T") %></td>
          <td>
            Transferência para <%= withdraw.name %> no banco <%= withdraw.bank %>,
            agência: <%= withdraw.agency %>, conta: <%= withdraw.account %> e CPF: <%=
          withdraw.cpf %>
          </td>
          <td>
            <span class="badge badge-danger">- <%= number_to_currency_br(withdraw.value) %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>