<%= simple_form_for(@transaction, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
    <div class="modal-body">
      Valor
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> R$ </span>
        </div>
      <%= f.input :value, label: false, error: 'É necessário adicionar um valor', as: :string %>
      </div><br>
      <%= f.hidden_field :kind, :value => "deposit" %>
      <%= f.hidden_field :balance, :value => @transaction.value_total_in_time  %>
      <%= f.hidden_field :date, :value => Date.today  %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Realizar Transferência" , class: 'btn-success'%>
  </div>
<% end %>